body {
  margin: 0;
  padding: 0;
  font-family: 'Shadows Into Light', cursive;
  background: #DAE7F1;
}
.titleCalendar {
  text-align: center;
  background: #1A212C;
  height: 37px;
  font-size: 27px;
  color: white;
  border: 1px solid white;
  margin-bottom: -1px;
}
.swapperMonths {
  text-align: center;
  background: #1A212C;
  height: 37px;
  font-size: 27px;
  color: white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  line-height: 36px;
}
.prevDate {
  float: left;
  font-size: 18px;
  margin-left: 15px;
  cursor: pointer;
}
.nextDate {
  float: right;
  font-size: 18px;
  margin-right: 15px;
  cursor: pointer;
}
.prevDate span {
  margin-right: 5px
}
.nextDate span {
  margin-left: 5px
}
.currentDate {
  display: inline-block;
}
#calendar {
  width: 90%;
  margin: auto;
}
.mainDaysContainer {
  display: flex;
  flex-direction: column;
}
#header {
  height: 50px;
  font-size: 27px;
  color: white;
  border-bottom: 2px solid white
}
#dates {
  height: 120px;
  background: #DEDBA7;  
  border: 1px solid white;
  margin: -1px;
  color: white;
  width: 14.285%;
  cursor: pointer;
}
.indent {
  display: flex;
}
#dates.active {
  background: #71B095;
}
.prevDates, .nextDates {
  background: #9E9E9E!important;
}
.days {
  background: #1A212C;
  padding: 8px 0px 0 0;
  margin: -1px;
  width: 14.285%;
  color: white;
  border: 1px solid white;
  text-align: center;
  display: inline-block;
}
.numbers {
  text-align: left;
  margin-left: 10px;
}
.fade-enter {
  opacity: 0
}
.fade-enter-active {
  opacity: 1;
  transition: 0.5s ease-in-out all;
}
.headerOfModal {
  display: flex;
}
.time {
  display: inline-block;
  width: 10%;
  border: 1px solid black;
  margin-right: -1px;
  height: 50px;
  line-height: 2;
  text-align: center;
  overflow: hidden;
  font-size: 21px;
  background: #EEEEEE;
  height: 79px;
}
.headTime, .title {
  height: 45px!important;
}
.wrapper {
  text-align: right;
  font-size: 24px;
}
.container {
  border: 1px solid black;
  width: auto;
  display: inline-block;
  text-align: center;
  margin-bottom: -11px;
  padding: 0px 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #EEEEEE
  
}
.fieldForEvent {
  display: inline-block;
  width: 90%;
  border: 1px solid black;
  height: 79px;
  cursor: pointer;
  background: #EEEEEE;
  overflow: hidden;
}
.title {
  text-align: center;
  font-size: 21px;
  cursor: inherit;
}
.fieldForEvent:hover {
  background: #9E9E9E
}
.title:hover {
  background: #EEEEEE
}
.button {
  background: #795548;
  color: white;
  outline: none;
  padding: 13px 36px;
  border: none;
  font-size: 16px;
}
.button:hover {
  cursor: pointer;
  background: #215F5B;
}
.containerMainInput, .containerForButton {
  text-align: center;
  margin-bottom: 17px;
}
.mainInput {
  padding: 14px 140px 14px 10px;
  font-size: 23px;
  outline: none;
  font-family: inherit;
  background: #EEEEEE;
  border: 1px solid grey;
  border-radius: 3px;
  margin-top: 60px;
}
.containerSecondaryInput {
  width: 50%;
  display: inline-block;
  
}
.secondaryInput {
  display: block;
  padding: 9px 12px 13px 12px;
  height: 32px;
  font-size: 16px;
  width: 33%;
  margin: 17px 0 17px -1px;
  outline: none;
  
}
.discriptionEvent {
  width: 570px;
  height: 150px;
  font-size: 14px;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  background: #EEEEEE;
  border: 1px solid grey;
  border-radius: 3px;
  resize: none;
}
.locationClass {
  width: 417px;
  display: block;
  padding: 12px;
  font-size: 16px;
  margin: 17px auto;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  background: #EEEEEE;
  border: 1px solid grey;
  border-radius: 3px;
}
.middleContainer {
  text-align: center;
}
.inputTime {
  padding: 10px 10px 6px 7px;
  min-width: 199px;
  background: #EEEEEE;
  font-size: 16px;
  width: 13%;
  min-width: 96px;
  margin: 17px 0px 0px -1px;
  border: 1px solid grey;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -ms-flexbox;
  display: flex;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: inherit;
}
.wrapForIncAndDec {
  display: flex;
  flex-direction: column;
}
.dateInformation {
  width: 10%;
  display: inline-block
}
.format {
  padding: 0 0 3px 0px;
  height: 56px;
  min-width: 55px;
  font-family: inherit;
  border: 1px solid grey;
  background: #EEEEEE;
  font-size: inherit;
}
.noteForTime {
  padding: 0;
  margin: 0;
  width: 148px;
  font-size: 18px;
}
.dub {
  margin: -17px
}
.dayOfTheWeek {
  min-width: 87px;
}
input::placeholder {
  color: #795548
}
.events {
  background: #1D7872;
  margin-bottom: 1px;
  border-radius: 8px;
  padding-left: 10px;
}
.months {
  display: inline-block;
}
.modalDay {
  background: #DEDBA7;
  height: 1000px;
  width: 70%;
  margin: auto;
  border-radius: 6px;
  outline: none;
  padding: 20px;
  margin-top: 36px;
}
.close {
  position: absolute;
  left: 84%;
  color: #1A212C;
  border: 1px solid #1A212C;
  padding: 0px 2px 1px 2px;
  border-radius: 3px;
}
.close:hover {
  border: 1px solid #D13F33;
  cursor: pointer;
  color: #D13F33;
}

.mainDayContainer {
  margin-top: 30px;
}
.buttonDay {
  margin-top: 12px;
  background: #1D7872;
}
.buttonDay:active {
  background: #144D49;
}
.modalEvent {
  background: #DEDBA7;
  height: 656px;
  padding-top: 28px;
  width: 62%;
  min-width: 891px;
  max-width: 1117px;
  outline: none;
  margin: auto;
  margin-top: 39px;
  position: relative;
  border-radius: 6px;
  font-family: 'Shadows Into Light', cursive;
  color: "#1A212C";
  font-size: 19px;
}
.closeButtonEvent {
  left: 94%;
  padding: 0px 2px 0px 2px;
}
#startEventNumber, #endEventNumber, #hour, #minutes, #hourEnd, #minutesEnd {
  font-family: inherit;
  border: 1px solid grey;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background: #EEEEEE;
  font-size: inherit;
}
#hour, #hourEnd, .format {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.notValid {
  color: #D13F33;
  position: absolute;
  left: 59%;
  top: 82%;
  font-size: 31px;
}
.valid {
  color: #71B095;
  position: absolute;
  left: 59%;
  top: 82%;
  font-size: 31px;
}